@{
    ViewData["Title"] = "Home Page";
}
<style>
    .form-group1 {
        display: inline-block;
        margin-right: 10px; /* Adjust this value as needed for spacing */
    }
    .form-group2 {
        display: inline-block;
        margin-right: 10px; /* Adjust this value as needed for spacing */
    }
</style>


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p>Next errors appeared!</p>
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Train number</th>
            <th>Destination</th>
            <th>Departure time</th>
            <th>Peron</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.TrainAmount; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Model.Schedule[i].GetDestination()</td>
                <td>@Model.Schedule[i].GetDepartureTime().GetTime()</td>
                <td>@Model.Schedule[i].GetPeron()</td>
            </tr>
        }
    </tbody>
</table>

<h2>Add new train</h2>

<form asp-action="AddTrain" method="post" style="margin-bottom: 20px;">
    <div class="form-group1">
        <label for="destination">destination:</label>
        <input type="text" name="destination" class="form-control" required>
    </div>
    <br/>
    <div class="form-group1">
        <label for="hour">hour:</label>
        <input type="number" name="hour" class="form-control" required>
    </div>
    <div class="form-group1">
        <label for="minute">minute:</label>
        <input type="number" name="minute" class="form-control" required>
    </div>
    <div class="form-group1">
        <label for="second">second:</label>
        <input type="number" name="second" class="form-control" required>
    </div>
    <br/>
    <div class="form-group1">
        <label for="peron">peron: </label>
        <input type="number" name="peron" class="form-control " required>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 5%">Add train</button>
</form>

<h2>Find Train</h2>

<form asp-action="FindTrainByDepartureTime" method="get">
    <div class="form-group1">
        <label for="hour">Hour:</label>
        <input type="number" name="hour" class="form-control" required>
    </div>
    <div class="form-group1">
        <label for="minute">Minute:</label>
        <input type="number" name="minute" class="form-control" required>
    </div>
    <div class="form-group1">
        <label for="second">Second:</label>
        <input type="number" name="second" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Find</button>
</form>